<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08-常用指令-V-if</title>
    <!--   1. 下载导入Vue.js-->
<!--    通过数据驱动更新-->
    <script src="../js/vue.js"></script>
</head>
<!--
1. 什么是v-if指令？
条件渲染： 如果v-if取值是true就渲染元素，如果不是就不渲染元素

2.v-if的特点：
如果条件不满足根本就不会创建这个元素（重点），可以F12调试

3.v-if注意点
v-if也可以从模型中获取数据
v-if也可以直接赋值一个表达式
-->

<!--
5. v-else 注意点
v-else 不能单独出现
v-if和v-else中间不能出现其他内容

-->

<!--

-->

<body>
<div id="app">
<!--   <p v-if="show">我是True</p>-->
<!--    <p v-if="hidden">我是False</p>-->

<!--    <p v-if="true">我是True 表达式</p>-->
<!--    <p v-if="false">我是False 表达式</p>-->
<!--创建 渲染 显示-->
<!--    <p v-if="age >= 18">我是True 表达式</p>-->
<!--    <p v-if="age < 18">我是False 表达式</p>-->
<!--    <p v-if="age >= 18">成年人</p>-->
<!--    <p>中间的内容</p>-->
<!--    <p v-else>未成年人</p>-->

    <p v-if="score >=80 ">优秀</p>
    <p v-else-if = "score >= 60">良好</p>
    <p v-else>差</p>
</div>
<script>
    //2. 创建一个Vue的实例对象
    let vue = new Vue({
        //3. 告诉Vue的实例对象，将来需要控制界面上的哪个区域
        el: '#app',
        //4. 告诉Vue的实例对象，被控制区域的数据是什么
        data: {
            name: '李MK',
            show: true,
            hidden: false,
            age: 17,
            score: 30
        }
    });
</script>
</body>
</html>